interface-examples/node-red/fetch-auth-token.json
[
    {
        "id": "045a60456a0bf51b",
        "type": "tab",
        "label": "fetch-auth-token",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d94de34b796df43",
        "type": "group",
        "z": "045a60456a0bf51b",
        "name": "",
        "style": {
            "stroke": "#ffbfbf",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "d395f2b6c7a3ff4f",
            "72cb3ab82783f6d5",
            "74501f44c4309cb0",
            "3fb40b51e029053c"
        ],
        "x": 74,
        "y": 339,
        "w": 612,
        "h": 142
    },
    {
        "id": "88650b9afb39866a",
        "type": "group",
        "z": "045a60456a0bf51b",
        "name": "",
        "style": {
            "stroke": "#ff7f7f",
            "label": true
        },
        "nodes": [
            "c1e4ab43.30a6d",
            "d3eb7adf.c888b8",
            "8f5cd9b9.3b9268",
            "f56b0b8c.94db48",
            "5831266f637faa1c",
            "6e06379d48738554",
            "69befdc84581784b",
            "f550d8aff6c20839",
            "6ad3f500e6116e41"
        ],
        "x": 74,
        "y": 79,
        "w": 932,
        "h": 222
    },
    {
        "id": "c1e4ab43.30a6d",
        "type": "inject",
        "z": "045a60456a0bf51b",
        "g": "88650b9afb39866a",
        "name": "send-login-data",
        "props": [
            {
                "p": "payload.username",
                "v": "USERNAME",
                "vt": "str"
            },
            {
                "p": "payload.password",
                "v": "PASSWORD",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "d3eb7adf.c888b8"
            ]
        ]
    },
    {
        "id": "d3eb7adf.c888b8",
        "type": "function",
        "z": "045a60456a0bf51b",
        "g": "88650b9afb39866a",
        "name": "prepare-payload",
        "func": "var username = msg.payload.username;\nvar password = msg.payload.password;\n\nmsg.payload = {\n    \"username\": username,\n    \"password\": password,\n    \"realm\": \"admin\"\n};\n\nmsg.headers = {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "8f5cd9b9.3b9268"
            ]
        ]
    },
    {
        "id": "8f5cd9b9.3b9268",
        "type": "http request",
        "z": "045a60456a0bf51b",
        "g": "88650b9afb39866a",
        "name": "send-request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.100/auth/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "f56b0b8c.94db48",
                "5831266f637faa1c"
            ]
        ]
    },
    {
        "id": "f56b0b8c.94db48",
        "type": "debug",
        "z": "045a60456a0bf51b",
        "g": "88650b9afb39866a",
        "name": "response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "5831266f637faa1c",
        "type": "function",
        "z": "045a60456a0bf51b",
        "g": "88650b9afb39866a",
        "name": "set-flow-token",
        "func": "let token = msg.payload.token;\nflow.set('token', token);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "6e06379d48738554"
            ]
        ]
    },
    {
        "id": "6e06379d48738554",
        "type": "debug",
        "z": "045a60456a0bf51b",
        "g": "88650b9afb39866a",
        "name": "token-ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "d395f2b6c7a3ff4f",
        "type": "inject",
        "z": "045a60456a0bf51b",
        "g": "4d94de34b796df43",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "72cb3ab82783f6d5"
            ]
        ]
    },
    {
        "id": "72cb3ab82783f6d5",
        "type": "function",
        "z": "045a60456a0bf51b",
        "g": "4d94de34b796df43",
        "name": "get-token-from-flow",
        "func": "var token = flow.get(\"token\")\nmsg.payload = token;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 440,
        "wires": [
            [
                "74501f44c4309cb0"
            ]
        ]
    },
    {
        "id": "74501f44c4309cb0",
        "type": "debug",
        "z": "045a60456a0bf51b",
        "g": "4d94de34b796df43",
        "name": "token",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "3fb40b51e029053c",
        "type": "comment",
        "z": "045a60456a0bf51b",
        "g": "4d94de34b796df43",
        "name": "Access fetched token",
        "info": "",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "69befdc84581784b",
        "type": "comment",
        "z": "045a60456a0bf51b",
        "g": "88650b9afb39866a",
        "name": "Make token request",
        "info": "",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "f550d8aff6c20839",
        "type": "comment",
        "z": "045a60456a0bf51b",
        "g": "88650b9afb39866a",
        "name": "Set login data here",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "6ad3f500e6116e41",
        "type": "comment",
        "z": "045a60456a0bf51b",
        "g": "88650b9afb39866a",
        "name": "Set IP address",
        "info": "",
        "x": 600,
        "y": 120,
        "wires": []
    }
]
