interface-examples/node-red/grpc-dio.json
[
    {
        "id": "36c2916b3419b63c",
        "type": "tab",
        "label": "grpc-dio",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cc79e45cfdfe13b3",
        "type": "group",
        "z": "36c2916b3419b63c",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#3f93cf"
        },
        "nodes": [
            "9e602fbe087a795e",
            "83c771341c1c0569",
            "c3b664884c300dad",
            "a1efc5135881ca93",
            "e85861d1ea51874e",
            "50661b63ccfe7429"
        ],
        "x": 54,
        "y": 479,
        "w": 732,
        "h": 222
    },
    {
        "id": "6bf9ddabf3c58ce6",
        "type": "group",
        "z": "36c2916b3419b63c",
        "name": "",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "423e1b3613c1d5c3",
            "f278de038e672f7f",
            "2c2bede4a06dd80d",
            "686840cbc7f02228",
            "92d51f5146e2e396"
        ],
        "x": 814,
        "y": 479,
        "w": 772,
        "h": 142
    },
    {
        "id": "a8906126898ba5fd",
        "type": "group",
        "z": "36c2916b3419b63c",
        "name": "",
        "style": {
            "stroke": "#3f93cf",
            "label": true
        },
        "nodes": [
            "8c19b317acb03211",
            "16c08693770e27a4",
            "21b0271a5e6768b4",
            "8c6b9a8c86b9bf05",
            "e5be807016a92aed"
        ],
        "x": 814,
        "y": 299,
        "w": 772,
        "h": 142
    },
    {
        "id": "f2819a8fa54b7be2",
        "type": "group",
        "z": "36c2916b3419b63c",
        "name": "",
        "style": {
            "stroke": "#bfdbef",
            "label": true
        },
        "nodes": [
            "fbf0628cb2538fe0",
            "f88a8128a0b7e215",
            "d932979aad5f2090",
            "ba3dab2d91f82f37",
            "7c63f3ec441298af"
        ],
        "x": 54,
        "y": 299,
        "w": 712,
        "h": 142
    },
    {
        "id": "34c19d39e3b15131",
        "type": "group",
        "z": "36c2916b3419b63c",
        "name": "",
        "style": {
            "stroke": "#ff7f7f",
            "label": true
        },
        "nodes": [
            "250a1c41078c25e3",
            "947cb1ca8dee28ea",
            "3bb0ae98f7d2d371",
            "5062417842459560",
            "ddeb89e40b860768",
            "424b397394060723",
            "bc0c6fce136446ea",
            "27818d153122ee85",
            "5e6216901a90d63f"
        ],
        "x": 54,
        "y": 39,
        "w": 932,
        "h": 222
    },
    {
        "id": "9e602fbe087a795e",
        "type": "inject",
        "z": "36c2916b3419b63c",
        "g": "cc79e45cfdfe13b3",
        "name": "HIGH",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"DIO_A\", \"state\":\"HIGH\"}",
        "payloadType": "json",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "50661b63ccfe7429"
            ]
        ]
    },
    {
        "id": "83c771341c1c0569",
        "type": "debug",
        "z": "36c2916b3419b63c",
        "g": "cc79e45cfdfe13b3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "c3b664884c300dad",
        "type": "grpc-call",
        "z": "36c2916b3419b63c",
        "g": "cc79e45cfdfe13b3",
        "name": "",
        "server": "cf1cdf3136bb1c17",
        "service": "DigitalIO",
        "method": "Write",
        "chain": "",
        "key": "",
        "x": 510,
        "y": 620,
        "wires": [
            [
                "83c771341c1c0569"
            ]
        ]
    },
    {
        "id": "a1efc5135881ca93",
        "type": "comment",
        "z": "36c2916b3419b63c",
        "g": "cc79e45cfdfe13b3",
        "name": "write DIO (A) state",
        "info": "",
        "x": 170,
        "y": 520,
        "wires": []
    },
    {
        "id": "e85861d1ea51874e",
        "type": "inject",
        "z": "36c2916b3419b63c",
        "g": "cc79e45cfdfe13b3",
        "name": "LOW",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"DIO_A\", \"state\":\"LOW\"}",
        "payloadType": "json",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "50661b63ccfe7429"
            ]
        ]
    },
    {
        "id": "423e1b3613c1d5c3",
        "type": "grpc-call",
        "z": "36c2916b3419b63c",
        "g": "6bf9ddabf3c58ce6",
        "name": "",
        "server": "cf1cdf3136bb1c17",
        "service": "DigitalIO",
        "method": "Attach",
        "chain": "",
        "key": "",
        "x": 1290,
        "y": 580,
        "wires": [
            [
                "2c2bede4a06dd80d"
            ]
        ]
    },
    {
        "id": "f278de038e672f7f",
        "type": "inject",
        "z": "36c2916b3419b63c",
        "g": "6bf9ddabf3c58ce6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 580,
        "wires": [
            [
                "92d51f5146e2e396"
            ]
        ]
    },
    {
        "id": "2c2bede4a06dd80d",
        "type": "debug",
        "z": "36c2916b3419b63c",
        "g": "6bf9ddabf3c58ce6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 580,
        "wires": []
    },
    {
        "id": "686840cbc7f02228",
        "type": "comment",
        "z": "36c2916b3419b63c",
        "g": "6bf9ddabf3c58ce6",
        "name": "streaming DIO changes",
        "info": "",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "50661b63ccfe7429",
        "type": "function",
        "z": "36c2916b3419b63c",
        "g": "cc79e45cfdfe13b3",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 620,
        "wires": [
            [
                "c3b664884c300dad"
            ]
        ]
    },
    {
        "id": "92d51f5146e2e396",
        "type": "function",
        "z": "36c2916b3419b63c",
        "g": "6bf9ddabf3c58ce6",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "423e1b3613c1d5c3"
            ]
        ]
    },
    {
        "id": "8c19b317acb03211",
        "type": "inject",
        "z": "36c2916b3419b63c",
        "g": "a8906126898ba5fd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"DIO_A\"}",
        "payloadType": "json",
        "x": 940,
        "y": 400,
        "wires": [
            [
                "e5be807016a92aed"
            ]
        ]
    },
    {
        "id": "16c08693770e27a4",
        "type": "debug",
        "z": "36c2916b3419b63c",
        "g": "a8906126898ba5fd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 400,
        "wires": []
    },
    {
        "id": "21b0271a5e6768b4",
        "type": "grpc-call",
        "z": "36c2916b3419b63c",
        "g": "a8906126898ba5fd",
        "name": "",
        "server": "cf1cdf3136bb1c17",
        "service": "DigitalIO",
        "method": "Read",
        "chain": "",
        "key": "",
        "x": 1310,
        "y": 400,
        "wires": [
            [
                "16c08693770e27a4"
            ]
        ]
    },
    {
        "id": "8c6b9a8c86b9bf05",
        "type": "comment",
        "z": "36c2916b3419b63c",
        "g": "a8906126898ba5fd",
        "name": "read DIO (A) state",
        "info": "",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "e5be807016a92aed",
        "type": "function",
        "z": "36c2916b3419b63c",
        "g": "a8906126898ba5fd",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "21b0271a5e6768b4"
            ]
        ]
    },
    {
        "id": "fbf0628cb2538fe0",
        "type": "grpc-call",
        "z": "36c2916b3419b63c",
        "g": "f2819a8fa54b7be2",
        "name": "",
        "server": "cf1cdf3136bb1c17",
        "service": "DigitalIO",
        "method": "ListDevices",
        "chain": "",
        "key": "",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "d932979aad5f2090"
            ]
        ]
    },
    {
        "id": "f88a8128a0b7e215",
        "type": "inject",
        "z": "36c2916b3419b63c",
        "g": "f2819a8fa54b7be2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "7c63f3ec441298af"
            ]
        ]
    },
    {
        "id": "d932979aad5f2090",
        "type": "debug",
        "z": "36c2916b3419b63c",
        "g": "f2819a8fa54b7be2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "ba3dab2d91f82f37",
        "type": "comment",
        "z": "36c2916b3419b63c",
        "g": "f2819a8fa54b7be2",
        "name": "list DIO devices",
        "info": "",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "7c63f3ec441298af",
        "type": "function",
        "z": "36c2916b3419b63c",
        "g": "f2819a8fa54b7be2",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "fbf0628cb2538fe0"
            ]
        ]
    },
    {
        "id": "250a1c41078c25e3",
        "type": "inject",
        "z": "36c2916b3419b63c",
        "g": "34c19d39e3b15131",
        "name": "send-login-data",
        "props": [
            {
                "p": "payload.username",
                "v": "admin",
                "vt": "str"
            },
            {
                "p": "payload.password",
                "v": "password",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "947cb1ca8dee28ea"
            ]
        ]
    },
    {
        "id": "947cb1ca8dee28ea",
        "type": "function",
        "z": "36c2916b3419b63c",
        "g": "34c19d39e3b15131",
        "name": "prepare-payload",
        "func": "var username = msg.payload.username;\nvar password = msg.payload.password;\n\nmsg.payload = {\n    \"username\": username,\n    \"password\": password,\n    \"realm\": \"admin\"\n};\n\nmsg.headers = {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [
            [
                "3bb0ae98f7d2d371"
            ]
        ]
    },
    {
        "id": "3bb0ae98f7d2d371",
        "type": "http request",
        "z": "36c2916b3419b63c",
        "g": "34c19d39e3b15131",
        "name": "send-request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.100/auth/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 140,
        "wires": [
            [
                "5062417842459560",
                "ddeb89e40b860768"
            ]
        ]
    },
    {
        "id": "5062417842459560",
        "type": "debug",
        "z": "36c2916b3419b63c",
        "g": "34c19d39e3b15131",
        "name": "response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "ddeb89e40b860768",
        "type": "function",
        "z": "36c2916b3419b63c",
        "g": "34c19d39e3b15131",
        "name": "set-flow-token",
        "func": "let token = msg.payload.token;\nflow.set('token', token);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "424b397394060723"
            ]
        ]
    },
    {
        "id": "424b397394060723",
        "type": "debug",
        "z": "36c2916b3419b63c",
        "g": "34c19d39e3b15131",
        "name": "token-ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc0c6fce136446ea",
        "type": "comment",
        "z": "36c2916b3419b63c",
        "g": "34c19d39e3b15131",
        "name": "Make token request",
        "info": "",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "27818d153122ee85",
        "type": "comment",
        "z": "36c2916b3419b63c",
        "g": "34c19d39e3b15131",
        "name": "Set login data here",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "5e6216901a90d63f",
        "type": "comment",
        "z": "36c2916b3419b63c",
        "g": "34c19d39e3b15131",
        "name": "Set IP address",
        "info": "",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "cf1cdf3136bb1c17",
        "type": "grpc-server",
        "port": "8081",
        "name": "grpc-dio",
        "server": "192.168.0.100",
        "protoFile": "/**\n * DigitalIO Service.\n *\n * Service that enables a control of the Digital IO features of device\n */\nsyntax = \"proto3\";\n\npackage hal.digitalio;\n\nimport \"google/protobuf/empty.proto\";\n\noption go_package = \"./protos;protos\";\n\nenum IOType {\n  INPUT = 0;\n  OUTPUT = 1;\n  BIDIRECTIONAL = 2;\n}\n\nenum IODirection {\n  IN = 0;\n  OUT = 1;\n}\n\nenum IOState {\n  ERROR = 0;\n  LOW = 1;\n  HIGH = 2;\n}\n\nmessage IODevice {\n  string name = 1;\n  IOType type = 2;\n  IODirection direction = 3;\n}\n\n/**\n * Represents the ListDevices response data.\n */\nmessage DigitalIOListDeviceResponse {\n  repeated IODevice devices = 1;\n}\n\n/**\n * Represents the SetDirection request data.\n */\nmessage DigitalIOSetDirectionRequest {\n  string name = 1;\n  IODirection direction = 2;\n}\n\n/**\n * Represents the Read request data.\n */\nmessage DigitalIOReadRequest {\n  string name = 1;\n}\n\n/**\n * Represents the Read response data.\n */\nmessage DigitalIOReadResponse {\n  IOState state = 1;\n}\n\n/**\n * Represents the Write request data.\n */\nmessage DigitalIOWriteRequest {\n  string name = 1;\n  IOState state = 2;\n}\n\n/**\n * Represents the Attach response data.\n */\nmessage DigitalIOAttachResponse {\n  string name = 1;\n  IOState state = 2;\n  int32 error = 3;\n  string timestamp = 4;\n}\n\n/**\n * Service exposing DigitalIO functions.\n */\nservice DigitalIO {\n  /// Used to retrieve all available digital IO devices.\n  rpc ListDevices(google.protobuf.Empty) returns (DigitalIOListDeviceResponse) {}\n\n  /// Used to set pin direction value of a particular gpio pin.\n  rpc SetDirection(DigitalIOSetDirectionRequest) returns (google.protobuf.Empty) {}\n\n  /// Used to read value of a particular gpio pin.\n  rpc Read(DigitalIOReadRequest) returns (DigitalIOReadResponse) {}\n\n  /// Used to write value of a particular gpio pin.\n  rpc Write(DigitalIOWriteRequest) returns (google.protobuf.Empty) {}\n\n  /// Used to stream input events form device.\n  rpc Attach(google.protobuf.Empty) returns (stream DigitalIOAttachResponse) {}\n}\n",
        "ca": "",
        "chain": "",
        "key": "",
        "mutualTls": false,
        "ssl": false,
        "selfsigned": false,
        "localServer": false
    }
]