examples/node-red/grpc-wpan.json
[
    {
        "id": "4ff3a810270d397a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3f99290626bf01b",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#ff7f7f",
            "label": true
        },
        "nodes": [
            "b626a0a929c7750d",
            "3a8f35f182759ea8",
            "c624426e43158cfe",
            "a35c10f73aa2752e",
            "7db96fececd2540b",
            "2a5a8e6dd3da3022",
            "dddad1a6aaf733f3",
            "6e8f4c5d58efb6da",
            "24ae3033f9b6d06f"
        ],
        "x": 74,
        "y": 119,
        "w": 932,
        "h": 222
    },
    {
        "id": "e66d184ded51c1f2",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "6b82a50cc2ec80b1",
            "90704461ca823bbd",
            "69eedadac03297a1",
            "fc83b3ec2df4ef8d",
            "b1cf416c78d394f3",
            "33d2d224136bcb9f"
        ],
        "x": 794,
        "y": 539,
        "w": 712,
        "h": 142
    },
    {
        "id": "ed50ea38ab631769",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "label": true,
            "stroke": "#0070c0"
        },
        "nodes": [
            "67fb78424fc065f9",
            "f555984746b565f3",
            "0bd65b2a69027d92",
            "98ea3e7c66cedc4a",
            "e0d040288e96048e",
            "705149ff524a83f2"
        ],
        "x": 74,
        "y": 559,
        "w": 652,
        "h": 222
    },
    {
        "id": "456657fa5292ac0a",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "e54aa16ef1dfc3bb",
            "ffb395e370177313",
            "09a8a0ba3450673d",
            "f3c1841f2bb9a322",
            "3b11e8aaa65f0cfd"
        ],
        "x": 74,
        "y": 359,
        "w": 772,
        "h": 142
    },
    {
        "id": "172e54993272d715",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#0070c0",
            "label": true
        },
        "nodes": [
            "d1c47bcfa4e33092",
            "a3d2bcfe290c91aa",
            "6b33aab32f09c44d",
            "9b9a5b6215f1e611",
            "ab6332ae36c4b672"
        ],
        "x": 794,
        "y": 699,
        "w": 712,
        "h": 142
    },
    {
        "id": "5b49bb1c8284d53e",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#3f93cf",
            "label": true
        },
        "nodes": [
            "519bd5ab86e8dbd6",
            "5f9a5ff504fefeee",
            "aec2ff531352ea5f",
            "662de9e534d08352",
            "244d1f549617efaf",
            "814ac2ca80ccc177"
        ],
        "x": 74,
        "y": 859,
        "w": 712,
        "h": 142
    },
    {
        "id": "9a86ca9d533f8a33",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#7fb7df",
            "label": true
        },
        "nodes": [
            "dd1b65ef33162ff2",
            "1fecc380a0b92f99",
            "785e007adf7e93fd",
            "615cb26a030acab1",
            "5ff22c94d7370d4d"
        ],
        "x": 74,
        "y": 1179,
        "w": 712,
        "h": 142
    },
    {
        "id": "a616661a69958ade",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#3f93cf",
            "label": true
        },
        "nodes": [
            "6ff54e6f81fe9cd6",
            "3b35b2caa9ba4bec",
            "4bb38815b3c44d0b",
            "31453efbb49e2aee",
            "6b2a41c5eec2aae4",
            "ed6755c16baadd2c"
        ],
        "x": 794,
        "y": 859,
        "w": 712,
        "h": 142
    },
    {
        "id": "77b2f9e609ee39d2",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#3f93cf",
            "label": true
        },
        "nodes": [
            "9b18aaa0e186cd01",
            "eda27cd425c039e8",
            "226f0cba1a69900c",
            "e6e53ac6ebc207e8",
            "b78ca66b6feb36d9",
            "6ac856f73151e64d"
        ],
        "x": 74,
        "y": 1019,
        "w": 712,
        "h": 142
    },
    {
        "id": "076c3f7622636d7b",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#3f93cf",
            "label": true
        },
        "nodes": [
            "d9a2b6e6ffb8b0c9",
            "54e722be9f79ef87",
            "e896a96ffd6be761",
            "d1beaffd4669ab3c",
            "9508340f1cb92630",
            "f97241d5bb42b7d9"
        ],
        "x": 794,
        "y": 1019,
        "w": 712,
        "h": 142
    },
    {
        "id": "0af28bdbf8800b17",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#3f93cf",
            "label": true
        },
        "nodes": [
            "2abeb4884b81f8f2",
            "6505abf419c7ea08",
            "1d4c37851ccc37ca",
            "a72c539181784dac",
            "c51305b54da16b08",
            "bf53db44339b9571"
        ],
        "x": 794,
        "y": 1179,
        "w": 712,
        "h": 142
    },
    {
        "id": "0f5e68446a27f384",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#3f93cf",
            "label": true
        },
        "nodes": [
            "41c047efb34888fa",
            "b627dd1d93debabc",
            "71d4da497426c575",
            "7984b2adc7934569",
            "7f12dfd53004e75d",
            "8de973c0fb404b63"
        ],
        "x": 74,
        "y": 1339,
        "w": 712,
        "h": 142
    },
    {
        "id": "03bd3363fbea39f1",
        "type": "group",
        "z": "4ff3a810270d397a",
        "name": "",
        "style": {
            "stroke": "#3f93cf",
            "label": true
        },
        "nodes": [
            "8729d6940af8ca2e",
            "80d9fd8efccd291b",
            "9decfa81f7cba930",
            "f62dbfddb126bee1",
            "3388d34ac78e5726",
            "c22a1bf6797ab76c"
        ],
        "x": 794,
        "y": 1339,
        "w": 712,
        "h": 142
    },
    {
        "id": "b626a0a929c7750d",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "e3f99290626bf01b",
        "name": "send-login-data",
        "props": [
            {
                "p": "payload.username",
                "v": "admin",
                "vt": "str"
            },
            {
                "p": "payload.password",
                "v": "password",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "3a8f35f182759ea8"
            ]
        ]
    },
    {
        "id": "3a8f35f182759ea8",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "e3f99290626bf01b",
        "name": "prepare-payload",
        "func": "var username = msg.payload.username;\nvar password = msg.payload.password;\n\nmsg.payload = {\n    \"username\": \"username\",\n    \"password\": \"password\",\n    \"realm\": \"admin\"\n};\n\nmsg.headers = {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "c624426e43158cfe"
            ]
        ]
    },
    {
        "id": "c624426e43158cfe",
        "type": "http request",
        "z": "4ff3a810270d397a",
        "g": "e3f99290626bf01b",
        "name": "send-request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.0.100/auth/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 220,
        "wires": [
            [
                "a35c10f73aa2752e",
                "7db96fececd2540b"
            ]
        ]
    },
    {
        "id": "a35c10f73aa2752e",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "e3f99290626bf01b",
        "name": "response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "7db96fececd2540b",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "e3f99290626bf01b",
        "name": "set-flow-token",
        "func": "let token = msg.payload.token;\nflow.set('token', token);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 300,
        "wires": [
            [
                "2a5a8e6dd3da3022"
            ]
        ]
    },
    {
        "id": "2a5a8e6dd3da3022",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "e3f99290626bf01b",
        "name": "token-ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "dddad1a6aaf733f3",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "e3f99290626bf01b",
        "name": "Make token request",
        "info": "",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "6e8f4c5d58efb6da",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "e3f99290626bf01b",
        "name": "Set login data here",
        "info": "",
        "x": 190,
        "y": 160,
        "wires": []
    },
    {
        "id": "24ae3033f9b6d06f",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "e3f99290626bf01b",
        "name": "Set IP address",
        "info": "",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "67fb78424fc065f9",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "ed50ea38ab631769",
        "name": "ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"enabled\":true}",
        "payloadType": "json",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "e0d040288e96048e"
            ]
        ]
    },
    {
        "id": "f555984746b565f3",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "ed50ea38ab631769",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "0bd65b2a69027d92",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "ed50ea38ab631769",
        "name": "set Service Status",
        "info": "",
        "x": 190,
        "y": 600,
        "wires": []
    },
    {
        "id": "98ea3e7c66cedc4a",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "ed50ea38ab631769",
        "name": "OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"enabled\":false}",
        "payloadType": "json",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "e0d040288e96048e"
            ]
        ]
    },
    {
        "id": "e0d040288e96048e",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "ed50ea38ab631769",
        "name": "authorize",
        "func": "msg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 700,
        "wires": [
            [
                "705149ff524a83f2"
            ]
        ]
    },
    {
        "id": "ffb395e370177313",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "456657fa5292ac0a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "3b11e8aaa65f0cfd"
            ]
        ]
    },
    {
        "id": "09a8a0ba3450673d",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "456657fa5292ac0a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "f3c1841f2bb9a322",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "456657fa5292ac0a",
        "name": "get Service Status",
        "info": "",
        "x": 190,
        "y": 400,
        "wires": []
    },
    {
        "id": "3b11e8aaa65f0cfd",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "456657fa5292ac0a",
        "name": "authorize",
        "func": "msg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "e54aa16ef1dfc3bb"
            ]
        ]
    },
    {
        "id": "6b82a50cc2ec80b1",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "e66d184ded51c1f2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"uuids\":\"00001101-0000-1000-8000-00805f9b34fb\"}",
        "payloadType": "str",
        "x": 890,
        "y": 640,
        "wires": [
            [
                "69eedadac03297a1"
            ]
        ]
    },
    {
        "id": "90704461ca823bbd",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "e66d184ded51c1f2",
        "name": "Start Discovery",
        "info": "",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "69eedadac03297a1",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "e66d184ded51c1f2",
        "name": "authorize",
        "func": "msg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 640,
        "wires": [
            [
                "fc83b3ec2df4ef8d"
            ]
        ]
    },
    {
        "id": "b1cf416c78d394f3",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "e66d184ded51c1f2",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 640,
        "wires": []
    },
    {
        "id": "705149ff524a83f2",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "ed50ea38ab631769",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "ToggleService",
        "chain": "",
        "key": "",
        "x": 470,
        "y": 700,
        "wires": [
            [
                "f555984746b565f3"
            ]
        ]
    },
    {
        "id": "e54aa16ef1dfc3bb",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "456657fa5292ac0a",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "ServiceStatus",
        "chain": "",
        "key": "",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "09a8a0ba3450673d"
            ]
        ]
    },
    {
        "id": "fc83b3ec2df4ef8d",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "e66d184ded51c1f2",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "StartDiscovery",
        "chain": "",
        "key": "",
        "x": 1230,
        "y": 640,
        "wires": [
            [
                "b1cf416c78d394f3"
            ]
        ]
    },
    {
        "id": "d1c47bcfa4e33092",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "172e54993272d715",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 900,
        "y": 800,
        "wires": [
            [
                "6b33aab32f09c44d"
            ]
        ]
    },
    {
        "id": "a3d2bcfe290c91aa",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "172e54993272d715",
        "name": "Stop Discovery",
        "info": "",
        "x": 900,
        "y": 740,
        "wires": []
    },
    {
        "id": "6b33aab32f09c44d",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "172e54993272d715",
        "name": "authorize",
        "func": "msg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 800,
        "wires": [
            [
                "9b9a5b6215f1e611"
            ]
        ]
    },
    {
        "id": "9b9a5b6215f1e611",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "172e54993272d715",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "StopDiscovery",
        "chain": "",
        "key": "",
        "x": 1230,
        "y": 800,
        "wires": [
            [
                "ab6332ae36c4b672"
            ]
        ]
    },
    {
        "id": "ab6332ae36c4b672",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "172e54993272d715",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 800,
        "wires": []
    },
    {
        "id": "33d2d224136bcb9f",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "e66d184ded51c1f2",
        "name": "Set UUID",
        "info": "",
        "x": 1420,
        "y": 580,
        "wires": []
    },
    {
        "id": "519bd5ab86e8dbd6",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "5b49bb1c8284d53e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"uuids\":\"UUID\"}",
        "payloadType": "str",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "aec2ff531352ea5f"
            ]
        ]
    },
    {
        "id": "5f9a5ff504fefeee",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "5b49bb1c8284d53e",
        "name": "Get Devices",
        "info": "",
        "x": 170,
        "y": 900,
        "wires": []
    },
    {
        "id": "aec2ff531352ea5f",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "5b49bb1c8284d53e",
        "name": "authorize",
        "func": "msg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 960,
        "wires": [
            [
                "662de9e534d08352"
            ]
        ]
    },
    {
        "id": "662de9e534d08352",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "5b49bb1c8284d53e",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "GetDevices",
        "chain": "",
        "key": "",
        "x": 530,
        "y": 960,
        "wires": [
            [
                "244d1f549617efaf"
            ]
        ]
    },
    {
        "id": "244d1f549617efaf",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "5b49bb1c8284d53e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 960,
        "wires": []
    },
    {
        "id": "dd1b65ef33162ff2",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "9a86ca9d533f8a33",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "785e007adf7e93fd"
            ]
        ]
    },
    {
        "id": "1fecc380a0b92f99",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "9a86ca9d533f8a33",
        "name": "Get HID Inputs",
        "info": "",
        "x": 180,
        "y": 1220,
        "wires": []
    },
    {
        "id": "785e007adf7e93fd",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "9a86ca9d533f8a33",
        "name": "authorize",
        "func": "msg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1280,
        "wires": [
            [
                "615cb26a030acab1"
            ]
        ]
    },
    {
        "id": "615cb26a030acab1",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "9a86ca9d533f8a33",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "GetHIDInputs",
        "chain": "",
        "key": "",
        "x": 510,
        "y": 1280,
        "wires": [
            [
                "5ff22c94d7370d4d"
            ]
        ]
    },
    {
        "id": "5ff22c94d7370d4d",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "9a86ca9d533f8a33",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6ff54e6f81fe9cd6",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "a616661a69958ade",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"MAC_ADDR\"}",
        "payloadType": "json",
        "x": 950,
        "y": 960,
        "wires": [
            [
                "6b2a41c5eec2aae4"
            ]
        ]
    },
    {
        "id": "3b35b2caa9ba4bec",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "a616661a69958ade",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 960,
        "wires": []
    },
    {
        "id": "4bb38815b3c44d0b",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "a616661a69958ade",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "GetDevice",
        "chain": "",
        "key": "",
        "x": 1230,
        "y": 960,
        "wires": [
            [
                "3b35b2caa9ba4bec"
            ]
        ]
    },
    {
        "id": "31453efbb49e2aee",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "a616661a69958ade",
        "name": "Get Device",
        "info": "",
        "x": 880,
        "y": 900,
        "wires": []
    },
    {
        "id": "6b2a41c5eec2aae4",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "a616661a69958ade",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 900,
        "wires": [
            [
                "4bb38815b3c44d0b"
            ]
        ]
    },
    {
        "id": "9b18aaa0e186cd01",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "77b2f9e609ee39d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"MAC_ADDR\"}",
        "payloadType": "json",
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "b78ca66b6feb36d9"
            ]
        ]
    },
    {
        "id": "eda27cd425c039e8",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "77b2f9e609ee39d2",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1120,
        "wires": []
    },
    {
        "id": "226f0cba1a69900c",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "77b2f9e609ee39d2",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "Pair",
        "chain": "",
        "key": "",
        "x": 510,
        "y": 1120,
        "wires": [
            [
                "eda27cd425c039e8"
            ]
        ]
    },
    {
        "id": "e6e53ac6ebc207e8",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "77b2f9e609ee39d2",
        "name": "Pair Device",
        "info": "",
        "x": 170,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b78ca66b6feb36d9",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "77b2f9e609ee39d2",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1060,
        "wires": [
            [
                "226f0cba1a69900c"
            ]
        ]
    },
    {
        "id": "d9a2b6e6ffb8b0c9",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "076c3f7622636d7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"MAC_ADDR\"}",
        "payloadType": "json",
        "x": 950,
        "y": 1120,
        "wires": [
            [
                "9508340f1cb92630"
            ]
        ]
    },
    {
        "id": "54e722be9f79ef87",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "076c3f7622636d7b",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e896a96ffd6be761",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "076c3f7622636d7b",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "Connect",
        "chain": "",
        "key": "",
        "x": 1230,
        "y": 1120,
        "wires": [
            [
                "54e722be9f79ef87"
            ]
        ]
    },
    {
        "id": "d1beaffd4669ab3c",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "076c3f7622636d7b",
        "name": "Connect Device",
        "info": "",
        "x": 900,
        "y": 1060,
        "wires": []
    },
    {
        "id": "9508340f1cb92630",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "076c3f7622636d7b",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 1060,
        "wires": [
            [
                "e896a96ffd6be761"
            ]
        ]
    },
    {
        "id": "2abeb4884b81f8f2",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "0af28bdbf8800b17",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"MAC_ADDR\"}",
        "payloadType": "json",
        "x": 950,
        "y": 1280,
        "wires": [
            [
                "c51305b54da16b08"
            ]
        ]
    },
    {
        "id": "6505abf419c7ea08",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "0af28bdbf8800b17",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1d4c37851ccc37ca",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "0af28bdbf8800b17",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "AttachToHIDInput",
        "chain": "",
        "key": "",
        "x": 1230,
        "y": 1280,
        "wires": [
            [
                "6505abf419c7ea08"
            ]
        ]
    },
    {
        "id": "a72c539181784dac",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "0af28bdbf8800b17",
        "name": "Attach to HID Input",
        "info": "",
        "x": 910,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c51305b54da16b08",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "0af28bdbf8800b17",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 1220,
        "wires": [
            [
                "1d4c37851ccc37ca"
            ]
        ]
    },
    {
        "id": "ed6755c16baadd2c",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "a616661a69958ade",
        "name": "Set MAC address",
        "info": "",
        "x": 1400,
        "y": 900,
        "wires": []
    },
    {
        "id": "f97241d5bb42b7d9",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "076c3f7622636d7b",
        "name": "Set MAC address",
        "info": "",
        "x": 1400,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bf53db44339b9571",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "0af28bdbf8800b17",
        "name": "Set MAC address",
        "info": "",
        "x": 1400,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6ac856f73151e64d",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "77b2f9e609ee39d2",
        "name": "Set MAC address",
        "info": "",
        "x": 680,
        "y": 1060,
        "wires": []
    },
    {
        "id": "814ac2ca80ccc177",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "5b49bb1c8284d53e",
        "name": "Set UUID",
        "info": "",
        "x": 680,
        "y": 900,
        "wires": []
    },
    {
        "id": "41c047efb34888fa",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "0f5e68446a27f384",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"MAC_ADDR\"}",
        "payloadType": "json",
        "x": 230,
        "y": 1440,
        "wires": [
            [
                "7f12dfd53004e75d"
            ]
        ]
    },
    {
        "id": "b627dd1d93debabc",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "0f5e68446a27f384",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1440,
        "wires": []
    },
    {
        "id": "71d4da497426c575",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "0f5e68446a27f384",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "RemoveDevice",
        "chain": "",
        "key": "",
        "x": 510,
        "y": 1440,
        "wires": [
            [
                "b627dd1d93debabc"
            ]
        ]
    },
    {
        "id": "7984b2adc7934569",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "0f5e68446a27f384",
        "name": "Remove Device",
        "info": "",
        "x": 180,
        "y": 1380,
        "wires": []
    },
    {
        "id": "7f12dfd53004e75d",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "0f5e68446a27f384",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1380,
        "wires": [
            [
                "71d4da497426c575"
            ]
        ]
    },
    {
        "id": "8de973c0fb404b63",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "0f5e68446a27f384",
        "name": "Set MAC address",
        "info": "",
        "x": 680,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8729d6940af8ca2e",
        "type": "inject",
        "z": "4ff3a810270d397a",
        "g": "03bd3363fbea39f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"address\":\"MAC_ADDR\"}",
        "payloadType": "json",
        "x": 950,
        "y": 1440,
        "wires": [
            [
                "3388d34ac78e5726"
            ]
        ]
    },
    {
        "id": "80d9fd8efccd291b",
        "type": "debug",
        "z": "4ff3a810270d397a",
        "g": "03bd3363fbea39f1",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 1440,
        "wires": []
    },
    {
        "id": "9decfa81f7cba930",
        "type": "grpc-call",
        "z": "4ff3a810270d397a",
        "g": "03bd3363fbea39f1",
        "name": "",
        "server": "96ced05cad4436b0",
        "service": "WPAN",
        "method": "Disconnect",
        "chain": "",
        "key": "",
        "x": 1230,
        "y": 1440,
        "wires": [
            [
                "80d9fd8efccd291b"
            ]
        ]
    },
    {
        "id": "f62dbfddb126bee1",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "03bd3363fbea39f1",
        "name": "Disconnect Device",
        "info": "",
        "x": 910,
        "y": 1380,
        "wires": []
    },
    {
        "id": "3388d34ac78e5726",
        "type": "function",
        "z": "4ff3a810270d397a",
        "g": "03bd3363fbea39f1",
        "name": "authorize",
        "func": "\nmsg.metadata = {\n    \"Authorization\":\"Bearer \" + flow.get(\"token\")\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 1380,
        "wires": [
            [
                "9decfa81f7cba930"
            ]
        ]
    },
    {
        "id": "c22a1bf6797ab76c",
        "type": "comment",
        "z": "4ff3a810270d397a",
        "g": "03bd3363fbea39f1",
        "name": "Set MAC address",
        "info": "",
        "x": 1400,
        "y": 1380,
        "wires": []
    },
    {
        "id": "96ced05cad4436b0",
        "type": "grpc-server",
        "port": "8081",
        "name": "grpc-wpan",
        "server": "192.168.0.100",
        "protoFile": "/**\n * WPAN service.\n *\n * Service that enables WPAN functionalities using bluez.\n */\nsyntax = \"proto3\";\n\npackage hal.wpan;\n \nimport \"google/protobuf/empty.proto\";\n \noption go_package = \"./protos;protos\";\n\n/**\n * Represents WPAN service status.\n */\nmessage ServiceStatusData {\n   bool enabled = 1; \n}\n\n/**\n * Represents type of the scan.\n */\nenum ScanType {\n    Auto = 0;\n    BrEdr = 1;\n    Le = 2;\n}\n\n/**\n * Represents discovery filters.\n */\nmessage DiscoveryFilters {\n   repeated string uuids = 1;\n   optional int32 rssi = 2;\n   optional int32 pathloss = 3;\n   optional ScanType transport = 4;\n   optional bool duplicateData = 5;\n   optional bool discoverable = 6;\n   optional string pattern = 7;\n}\n\n/**\n * Represents device data.\n */\nmessage DeviceData {\n   optional string alias = 1;\n   optional string address = 2;\n   repeated string uuids = 3;\n   optional int32 rssi = 4;\n   optional bool paired = 5;\n   optional bool bonded = 6;\n   optional bool connected = 7;\n   optional bool trusted = 8;\n   optional bool blocked = 9;\n   optional bool servicesResolved = 10;\n}\n\n/**\n * Represents devices.\n */\nmessage Devices {\n   repeated DeviceData devices = 1;\n}\n\n/**\n * Represents device address.\n */\nmessage DeviceAddress {\n   string address = 1;\n}\n\n/**\n * Represents device connection request.\n */\nmessage DeviceConnection {\n   string address = 1;\n   optional string profile = 2;\n}\n\n/**\n * Represents type of pairing process display.\n */\nenum DisplayType {\n    Pincode = 0;\n    Passkey = 1;\n}\n\n/**\n * Represents device pairing process display.\n */\nmessage PairingProcessDisplay {\n   DisplayType type = 1;\n   string content = 2;\n}\n\n/**\n * Represents device pairing status.\n */\nmessage PairingStatus {\n   bool paired = 1;\n   string errMsg = 2;\n}\n\n/**\n * Represents device pairing response.\n */\nmessage PairingResponse {\n   oneof response {\n      PairingStatus status = 1;\n      PairingProcessDisplay pairing = 2;\n   }\n}\n\n/**\n * Represents input HID device basic information.\n */\nmessage HidDeviceData {\n   string address = 1;\n   string name = 2;\n}\n\n/**\n * Represents array of input HID devices.\n */\nmessage HidDevices {\n   repeated HidDeviceData hidDevices = 1;\n}\n\n/**\n * Represents syscall UNIX time value.\n */\nmessage SyscallTime {\n   int64 sec = 1;\n   int64 nsec = 2;\n}\n\n/**\n * Represents input event from input HID device.\n * HID input events based on:\n *  - https://raw.githubusercontent.com/torvalds/linux/v6.7/include/uapi/linux/input.h\n *  - https://raw.githubusercontent.com/torvalds/linux/v6.7/include/uapi/linux/input-event-codes.h\n */\nmessage InputEvent {\n   // Time in seconds since epoch at which event occurred.\n   SyscallTime time = 1;\n\n   // Event type.\n   int32 type = 2;\n\n   // Event code related to the event type.\n   int32 code = 3;\n\n   // Event value related to the event type.\n   int32 value = 4;\n}\n \n/**\n * Service exposing WPAN functions.\n */\nservice WPAN {\n  // Used to enable/disable WPAN on device.\n  rpc ToggleService(ServiceStatusData) returns (google.protobuf.Empty) {}\n\n  // Used to get WPAN service status.\n  rpc ServiceStatus(google.protobuf.Empty) returns (ServiceStatusData) {}\n\n  // Used to start WPAN discovery.\n  rpc StartDiscovery(DiscoveryFilters) returns (google.protobuf.Empty) {}\n\n  // Used to stop WPAN discovery.\n  rpc StopDiscovery(google.protobuf.Empty) returns (google.protobuf.Empty) {}\n\n  // Used to retrieve found (and stored) devices.\n  rpc GetDevices(google.protobuf.Empty) returns (Devices) {}\n\n  // Used to retrieve device with specified address.\n  rpc GetDevice(DeviceAddress) returns (DeviceData) {}\n\n  // Used to remove all devices.\n  rpc RemoveDevices(google.protobuf.Empty) returns (google.protobuf.Empty) {}\n\n  // Used to remove device with specified address.\n  rpc RemoveDevice(DeviceAddress) returns (google.protobuf.Empty) {}\n\n  // Used to pair to device with specified address.\n  rpc Pair(DeviceAddress) returns (stream PairingResponse) {}\n\n  // Used to connect with device with specified address.\n  rpc Connect(DeviceConnection) returns (google.protobuf.Empty) {}\n\n  // Used to disconnect from device with specified address.\n  rpc Disconnect(DeviceConnection) returns (google.protobuf.Empty) {}\n\n  // Used to get all HID inputs connected via WPAN HID profile.\n  rpc GetHIDInputs(google.protobuf.Empty) returns (HidDevices) {}\n\n  // Used to attach to and listen for input events from HID input.\n  rpc AttachToHIDInput(DeviceAddress) returns (stream InputEvent) {}\n}",
        "ca": "",
        "chain": "",
        "key": "",
        "mutualTls": false,
        "ssl": false,
        "selfsigned": false,
        "localServer": false
    }
]